# ------------------------------------------------------------------------------
# MySQL server v5
# ------------------------------------------------------------------------------
[mysqld]
default-storage-engine = InnoDB

interactive_timeout = 180
wait_timeout = 180

# ------------------------------------------------------------------------------
# utf8
# ------------------------------------------------------------------------------
init_connect='SET collation_connection = utf8_general_ci'
init_connect='SET NAMES utf8'
collation-server=utf8_unicode_ci
character-set-server=utf8
skip-character-set-client-handshake

# ------------------------------------------------------------------------------
# time zone UTC
# ------------------------------------------------------------------------------
default-time-zone = '+00:00'

# ------------------------------------------------------------------------------
# listen port
# ------------------------------------------------------------------------------
port = 3307
socket = /tmp/mysql.sock

max_connections = 50

innodb_checksum_algorithm = CRC32

# ------------------------------------------------------------------------------
#logs
# ------------------------------------------------------------------------------
expire_logs_days = 30

# ------------------------------------------------------------------------------
# Replication Master Server (default)
# ------------------------------------------------------------------------------
server-id = {{ grains['id'].split('.')[0].split('_')[1] }}

# ------------------------------------------------------------------------------
replicate-wild-ignore-table=test.%
#replicate-wild-ignore-table=mysql.%
replicate-wild-ignore-table=information_schema.%
replicate-wild-ignore-table=performance_schema.%

# ------------------------------------------------------------------------------
binlog_checksum = CRC32
binlog_format = row

# ------------------------------------------------------------------------------
# A -> B -> C
# A serves as the master for slave B
# B serves as the master for slave C
# ------------------------------------------------------------------------------
slow-query-log = 1
log-slow-admin-statements = 1
log-slow-slave-statements = 1
log-bin = mysqld-bin.log
log-slave-updates = 1

relay-log = master_slave-relay-bin
relay-log-index = master_slave-relay-bin.index
relay-log-recovery = 1
# ------------------------------------------------------------------------------
# For the greatest possible durability and consistency in a replication setup
# using InnoDB with transactions
# on ZFS set innodb_flush_log_at_trx_commit=2
# ------------------------------------------------------------------------------
innodb_flush_log_at_trx_commit = 2
sync_binlog = 1

# ------------------------------------------------------------------------------
# show slave hosts
# ------------------------------------------------------------------------------
report-host = master-{{ grains['host'] }}

explicit_defaults_for_timestamp = 1

# ------------------------------------------------------------------------------
# GIT
# ------------------------------------------------------------------------------
gtid-mode = on
enforce-gtid-consistency = 1
master-info-repository = TABLE
relay-log-info-repository = TABLE
sync-master-info = 1
slave-sql-verify-checksum = 1
binlog-rows-query-log_events = 1
slave-parallel-workers = 2
